version: '3.8'

services:
  db:
    image: mysql:5.7
    container_name: mysql_vi
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: Cass2025!
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./my.cnf:/etc/mysql/conf.d/my.cnf

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmindream
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: rootpassword
    depends_on:
      - db

  app:
    build: .
    image: typeorm-app002
    container_name: typeorm_app
    ports:
      - "3001:3001"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USERNAME: user
      DB_PASSWORD: Cass2025!
      DB_DATABASE: mydb
    volumes:
      - .:/app
    command: npm run dev

  nginx:
    image: nginx:latest
    container_name: nginx_server
    ports:
      - "80:80"  
    depends_on:
      - app
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: always

volumes:
  mysql_data:
